.App {
  text-align: center;
}

.LoginPage {
  margin: 10% auto;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 30px;
  width: fit-content;

}

.LoginPage input {
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}


.sections{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.sections>div{
  border: 1px solid black;
  height: 100%;
  width: 300px;
  overflow-y: scroll;
}

.btn{
  padding: 10px 30px;
  font-size: 20px;
}

.addElement input,select{
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.elements{
  padding: 10px;
  font-size: 20px;
  border: 1px solid ;
  margin: 10px 30px;
  background-color: blueviolet;
  color: white;
}

.elementContainer{
  border:1px solid black;
  padding-bottom:100px ;
}